@import '../../colors.scss';

.navbar {
  height: 64px;
  display: flex;
  width: 100%;
  background-color: $color-primary;
  color: $color-text-primary;

  .navbar__brand {
    height: 100%;
    width: 64px;

    img {
      max-width:100%;
      max-height:100%;
    }
  }

  .navbar__content {
    display: flex;

    li {
      flex: 1;
      padding: 10px;
      list-style-type: none;

      .navbar__link {
        text-decoration: none;
        color: $color-text-primary;
      }
    }
  }
}