@import '../../colors.scss';

.navbar {
  height: 64px;
  display: flex;
  width: 100%;
  background-color: $color-primary;
  color: $color-text-primary;

  .navbar__brand {
    height: 100%;
    width: 64px;

    img {
      max-height:100%;
    }
  }

  .navbar__content {
    height: 100%;
    display: flex;
    margin-left: auto;

    li {
      flex: 1;
      list-style-type: none;

      .navbar__link {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        color: $color-text-primary;
        text-decoration: none;

        &:hover {
          background-color: $color-primary-dark;
        }
      }
    }
  }
}